 
 /**912px**/
@media (max-width:57em) {

.navigation a {
    font-size: 18px;
}


.navigation {
    font-size: 18px;
    gap: 3rem;

}
.navigation img {
    width: 30px;
}

footer a {
    display: none;
}
}

/**704px**/
@media (max-width:44em) {


.navigation {
    font-size: 1.2rem;
    padding: 3px;
    gap: 0.5rem;
    justify-content: center;
}

.navigation a {
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}

.navigation img {
    display: none;
}

.alink {
    display: none;
}

    h1 {
        font-size: 32px;
    }

    .order {
        width:auto ;
        display: grid;
        gap: 30px;
        font-size: 18px;
        margin-bottom: 3px;
    }

    .product {
        width: 220px;
        margin: 2px;
        font-size: 18px;
        padding: 2px;
    }

    #quantity {
        width: 220px;
       
        padding-left: 2px;
        font-size: 18px;
        margin: 2px;
    }


    .style {
        
        font-size: 18px;
    }

 .submit {
    margin-bottom: 30px;
 }

footer a {
    display: flex;
}

footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}
  
  
footer img {
    width: 20px;
}

}

/**408px**/
@media (max-width:25.5em) {

.navigation {
    font-size: 12px;
    padding: 3px;
    gap: 0.5rem;
}

.navigation a {
    font-size: 12px;
}

textarea {
    font-size: 12px;
}

    footer {
        font-size: 12px;
        padding: 0px;
    }
}

