
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
     }


body {
background-image: url("background.jpg");
max-width:100%;
background-size: cover;
background-attachment: fixed;   
}

.navigation {
    max-width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 1.4rem;
    background-color:rgb(195, 174, 214);
}

.navigation a {
    font-size:1.4rem;
   
    cursor: pointer;
    color: black;
  }
    
  .link:link,
  .link:visited {
      text-decoration: none;
      background-color: rgb(195, 174, 214);
      
    
  }
  
  .link:hover,
  .link:active {
      background-color: black;
      color: rgb(195, 174, 214); 
  }


 .navigation img {
    width: 35px;
 }

 h1 {
    
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
 }

.order {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 20px;
    margin-bottom: 10px;
    
}

 

#product {
    width: 220px;
    margin: 2px;
    font-size: 20px;
    padding: 2px;
    box-shadow: 0.3rem 0.3rem rgba(215, 149, 218, 0.2)
}

.quantity {
    padding-top: 4px;
    
}
#quantity {
    width: 220px;
    padding-left: 2px;
    font-size: 20px;
    margin: 2px;
    box-shadow: 0.3rem 0.3rem rgba(215, 149, 218, 0.2)
   
}



.style {
    width: 220px;
    margin: 2px;
    font-size: 20px;
    box-shadow: 0.3rem 0.3rem rgba(215, 149, 218, 0.2)
}

textarea {
    font-size: 16px;
    padding: 2px;
    box-shadow: 0.3rem 0.3rem rgba(215, 149, 218, 0.2)
}


.submit {
    width: 100px;
    height: 30px;
    padding: 3px;
    margin-bottom: 20px;
    font-size: 20px;
    transform: translateY(-0.4rem);
    box-shadow: 0.3rem 0.3rem rgba(215, 149, 218, 0.2)

}

footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    height: 30px;
    font-size: 1rem;
    padding-left: 5px;
    padding-top: 5px;
    color: black;   
    background-color:rgb(195, 174, 214);
}
 footer a {
    display: none;
 }
